body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 3rem;
    }

    .table {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .table thead th {
        background-color: #343a40;
        color: #fff;
        border-color: #343a40;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
